In [7]:
a ={20,30,40, 20 ,20 ,20}

In [3]:
a

{20, 30, 40}

In [4]:
type(a)

set

In [5]:
a

{20, 30, 40}

In [8]:
for item in a:
    print(item)

40
20
30

In [11]:
b ={30,40,"A",60}

In [12]:
a.intersection(b)

{30, 40}

In [13]:
b

{30, 40, 60, 'A'}

In [15]:
a ={[[1,2,3],[4,5,6],[8,9,10]]}

TypeError: unhashable type: 'list'

In [ ]:
a = sql.t0_set()

In [2]:
3.0 + True

4.0

In [3]:
a =2

In [4]:
type(a)

int

In [5]:
a =2.0

In [6]:
type(a)

float

In [7]:
a ="Zero"

In [8]:
type(a)

str

In [9]:
type(False)

bool

In [10]:
a = "String"

In [ ]:
a.upper()

'STRING'

In [34]:
a ={"20",30,"20",40,20}

In [35]:
a

{20, '20', 30, 40}

In [37]:
b ={30,50}

In [38]:
a.intersection(b)

{30}

In [39]:
type(a.union(b))

set

In [40]:
a.union(b)

{20, '20', 30, 40, 50}

In [44]:
l =["Vibhu", 209, False, [12,3]]

In [43]:
for item in "77":
    print(item)

7
7

In [46]:
for item in l:
    print(item)

Vibhu
209
False
[12, 3]

In [47]:
a_str = "STring"

In [48]:
a_str[0]

'S'

In [49]:
len(a_str)

6

In [50]:
a_str[len(a_str)-1]

'g'

In [51]:
n = len(a_str)

In [52]:
a_str[n-1]

'g'

In [53]:
a_str[-1]

'g'

In [54]:
l =[1,2,3,4]

In [55]:
n = len(l)
print(n)

4

In [56]:
l[n-1]

4

In [57]:
for item in l:
    print(item)

1
2
3
4

In [58]:
a ={"Vibhu":38, "Rahul":50, "harry":60}

In [59]:
a

{'Vibhu': 38, 'Rahul': 50, 'harry': 60}

In [60]:
type(a)

dict

In [66]:
for item1, item2 in a.items():
    print(item1, item2)

Vibhu 38
Rahul 50
harry 60

In [67]:
for item1, item2 in a:
    print(item1, item2)

ValueError: too many values to unpack (expected 2)

In [68]:
a["Vibhu"]=40

In [69]:
a

{'Vibhu': 40, 'Rahul': 50, 'harry': 60}

In [70]:
a ="string"

In [71]:
a[3]

'i'

In [72]:
a[3]="h"

TypeError: 'str' object does not support item assignment

In [73]:
l=[12,3,4,5]

In [75]:
l[2] =5

In [76]:
l

[12, 3, 5, 5]

In [77]:
# Uncomment and run this cell in notebook:
name = input("Enter your name: ")
print("Hello", name)

Hello "Vibhu"

In [79]:
for item in range(2,6):
    print(item)

2
3
4
5

In [80]:
l = [1,2,3,4,5]

In [84]:
len(l)

5

In [82]:
for item in range(len(l)):
    print(l[item])

1
2
3
4
5

In [83]:
for item in l:
    print(item)

1
2
3
4
5

In [86]:
for item in range(len(l)):
    print(l[item])

1
2
3
4
5

In [89]:
count =0
a= True
while a == True:
    print("Value of Count", count)
    count = count+1
    if count ==20:
        a = False

Value of Count 0
Value of Count 1
Value of Count 2
Value of Count 3
Value of Count 4
Value of Count 5
Value of Count 6
Value of Count 7
Value of Count 8
Value of Count 9
Value of Count 10
Value of Count 11
Value of Count 12
Value of Count 13
Value of Count 14
Value of Count 15
Value of Count 16
Value of Count 17
Value of Count 18
Value of Count 19